

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #aaaaaa;
  border-radius: 3rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.input-wrapper svg {
  display: inline;
}

.input {
  display: inline;
  border: none !important;
  border-radius: 0px !important;
  padding: 1rem;
}

.input:focus {
  border: none !important;
  box-shadow: none !important;
}

.typeahead {
  border-radius: 3rem !important;
}

